

/* category */
.category{
    padding: 40px 32px;
}
#heading{
    font-size: 24px;
    letter-spacing: 3px;
    font-family: 'Times New Roman';
    font-weight: bold;  
}
.category_list{
    padding: 40px 0px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr 1fr;
    row-gap: 60px;
}
.all_lists a{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    font-size: 22px;
}
.all_lists span{
    font-size: 22px;
    color: #346afc;
    margin-top: 20px;
}
.all_lists img{
    width: 60%;
    height:50%;
    background-size: contain;
    border-radius: 400px;

}

@media all and (max-width:768px) and (min-width:480px){
   
    .category{
        padding: 40px 62px;
    }
}
@media all and (max-width:1024px) and (min-width:769px){
    
    .category{
        padding: 40px 84px;
    }
}
    @media all and (min-width:1025px){
       
        .category{
            padding: 40px 124px;
        }
}

